{
	"bracketSameLine": true,
	"printWidth": 120,
	"proseWrap": "never",
	"singleQuote": true,
	"stylelintIntegration": true,
	"trailingComma": "none",
	"useTabs": true,
	"vueIndentScriptAndStyle": true
}
