@font-face {
	font-weight: 400;
	font-style: normal;
	font-family: 'Manrope';
	font-display: swap;
	src: local('Manrope Regular'), url('@/assets/fonts/manrope-regular.woff2') format('woff2');
}

@font-face {
	font-weight: 500;
	font-style: normal;
	font-family: 'Manrope';
	font-display: swap;
	src: local('Manrope Medium'), url('@/assets/fonts/manrope-medium.woff2') format('woff2');
}

@font-face {
	font-weight: 600;
	font-style: normal;
	font-family: 'Manrope';
	font-display: swap;
	src: local('Manrope SemiBold'), url('@/assets/fonts/manrope-semibold.woff2') format('woff2');
}

@font-face {
	font-weight: 700;
	font-style: normal;
	font-family: 'Manrope';
	font-display: swap;
	src: local('Manrope Bold'), url('@/assets/fonts/manrope-bold.woff2') format('woff2');
}
